@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-image: url("images/patt.png");
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
 
}
.row {
    margin-right: -15px;
    margin-left: 15px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
}
.col-3-md {
    width: 25%;
}
.col-6-md {
width: 50%;
}
.header {
    background-color: rgba(265, 265, 265, 0.75 );
    padding: 25px 0;
}

